<header class="aboutUs">
  <div class="container">
    <div class="aboutUs_content">
      <div class="working_hours">
        <div class="title">
          <i class="fa-solid fa-clock"></i>
          <p>სამუშაო დღეები და საათები</p>
        </div>
        <div class="hours">
          <p>კვირა</p>
          <p>10:00 - 23:59</p>
        </div>
        <div class="hours">
          <p>ორშაბათი</p>
          <p>10:00 - 23:59</p>
        </div>
        <div class="hours">
          <p>სამშაბათი</p>
          <p>10:00 - 23:59</p>
        </div>
        <div class="hours">
          <p>ოთხშაბათი</p>
          <p>10:00 - 23:59</p>
        </div>
        <div class="hours">
          <p>ხუთშაბათი</p>
          <p>10:00 - 23:59</p>
        </div>
        <div class="hours">
          <p>პარასკევი</p>
          <p>10:00 - 23:59</p>
        </div>
        <div class="hours">
          <p>შაბათი</p>
          <p>10:00 - 23:59</p>
        </div>
      </div>

      <div class="location">
        <div class="title">
          <i class="fa-solid fa-location-dot"></i>
          <p>ადგილმდებარეობა</p>
        </div>
        <p class="loc">ნიკოლოზ ბარათაშვილის 4</p>
      </div>

      <div class="mobile">
        <div class="title">
          <i class="fa-solid fa-phone"></i>
          <p>ტელეფონი</p>
        </div>
        <a class="loc" href="tel:+995599879373">599879373</a>
      </div>

      <div class="email">
        <div class="title">
          <i class="fa-solid fa-envelope"></i>
          <p>ელ. ფოსტა</p>
        </div>
        <a class="loc" href="mailto:annkardenakhishvili&#64;gmail.com">
          annkardenakhishvili&#64;gmail.com
        </a>
      </div>

      <div class="social">
        <div class="title">
          <i class="fa-solid fa-phone"></i>
          <p>სოც. ქსელი</p>
        </div>
        <div class="social_icons">
          <a href="https://www.instagram.com/mayta.btm/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
