<header class="footer">
  <div class="container">
    <div class="footer_content">
      <div
        class="action"
        (click)="goMain()"
        [class.active]="isActive('/categories')"
      >
        <i class="fa-solid fa-house"></i>
        <p>მთავარი</p>
      </div>
      <div
        class="action"
        (click)="goAboutUs()"
        [class.active]="isActive('/aboutUs')"
      >
        <i class="fas fa-users"></i>
        <p>ჩვენ შესახებ</p>
      </div>
    </div>
  </div>
</header>
