.header {
  background-color: #f8f8f8;
  border-bottom: 2px solid #990000;
  padding: 1rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  &_content {
    display: flex;
    justify-content: space-between;
    .logo {
      font-size: 1.8rem;
      font-weight: 700;
      color: #990000;
      letter-spacing: 2px;
    }
  }
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background-color: #990000;
  color: white;
}

::ng-deep .mat-button-toggle .mat-pseudo-checkbox {
  display: none;
}
