.header {
  background-color: white;
  border-bottom: 2px solid #b30000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  height: 80px;
  display: flex;
  align-items: center;

  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-size: 2rem;
      font-weight: 700;
      color: #b30000;
      letter-spacing: 2px;
      font-family: "Bungee Tint", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    img {
      width: 70px;
      height: 65px;
    }
  }
}

.mat-button-toggle-appearance-standard {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background-color: #b30000;
  color: white;
}

::ng-deep .mat-button-toggle .mat-pseudo-checkbox {
  display: none;
}
